*{
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*-------------------------------------------------------------------*/

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

*, *::after, *::before {
    box-sizing: border-box;
}

img{
    display: block;
}

.container{
    max-width: 1343px;
    padding: 48px 0px;
    margin: auto;
}

section{
    position: relative;
}

/*----------------------------------------------------------------------*/

.tittle{
    color: #FF6397;
    font-family: 'Dancing Script', cursive;
    font-size: 52px;
    line-height: 62px;
    margin-bottom: 10px;
    display: inline-block;

    white-space: nowrap;
}

.tittle_animation{
    display: block;
    width: 0;
    overflow: hidden;

    transition: width 2s;
}

.subtittle{
    position: relative;
    font-family: 'Inter', sans-serif;
    display: inline-block;
    font-weight: 700;
    font-size: 36px;
    color: #424242;

}

.subtittle_animation{
    display: block;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 50%;

    height: 4px;
    width: 0%;
    border-radius: 2px;

    transition: width 1.5s linear;

    background-color: #FF66B9;  
}




.text_normal{
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    color: #252525;
    font-family: 'Inter', sans-serif;
}
.text_caps{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #424242;
    font-family: 'Inter', sans-serif;
}
.heading_S{
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #252525;
    font-family: 'Inter', sans-serif;
}
.heading_M{
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #252525;
    font-family: 'Inter', sans-serif;
}
.heading_L{
    font-size: 56px;
    line-height: 64px;
    font-weight: 700;
    color: #252525;
    font-family: 'Inter', sans-serif;
}
.heading_Italic{
    font-size: 52px;
    line-height: 60px;
    font-weight: 700;
    color: #424242;
}
.heading_Italic_Bold{
    font-size: 112px;
    line-height: 124px;
    font-weight: 700;
    color: #424242;
}




.button1{
    background-color: #0543CC;   
    color: white;

    font-size: 20px;
    line-height: 26px;
    font-family: 'Inter', sans-serif;

    border-radius: 30px;
    border: 0px;

    cursor: pointer;
    transition: background-color .2s;
    padding: 8px 28px;
}

.button2{
    background-color: white;
    color: #252525;

    font-size: 20px;
    line-height: 26px;
    font-family: 'Inter', sans-serif;

    border-radius: 30px;
    border: 2px #FF66B9 solid;

    cursor: pointer;
    transition: color .3s;
    padding: 6px 28px;
}



.display_none{
    display: none !important;
}
.display_block{
    display: block !important;
}
.display_flex{
    display: flex !important;
}









::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #e4e2e2;
}


::-webkit-scrollbar-thumb {
    background: rgb(122, 122, 122);
    width: 200px;
    border-radius: 40px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*---------------------------------------------------------------*/

.singup_window{
    width: 644px;
    background-color: #FFF7FC;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);

    position: absolute;

    left: 50%;
    top: 150px;
    z-index: 2;
    margin-left: -322px;

    opacity: 1; 
    transition: opacity .3s;
}

.singup_window_animation{
    opacity: 1;
}

.window_header{
    position: relative;

    height: 62px;
    width: 100%; 
}

.window_header > button {
    position: absolute;

    height: 14px;
    width: 14px;
    right: 24px;
    top: 24px;

    background: none;
    border: none;
    cursor: pointer;
}

.window_progressbar{
    position: absolute;

    bottom: -6px;
    left: 0px;

    background-color: #F5F5F5;
    width: 100%;
    height: 6px;
}

.window_progressvalue{
    position: absolute;

    left: 0;
    top: 0;
    height: 6px;
    width: 88px;
    
    background-color: blue;
    border-radius: 10px;
}


.window_container{
    width: 580px;
    margin: 0px auto;
}

.window_container .heading_S{
    text-align: center;
    margin: 30px 0px 48px 0px;
}

.window_item_block{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0px 8px;
}

.window_item .fa-check-circle{
    position: relative;
    display: none;
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 30px;
    color: #0446D8;
}

.fa-check-circle:after{
    content: '';
    position: absolute;
    border-radius: 20px;
    top: -1px;
    left: -1px;
    height: 32px;
    width: 32px;
    border: 3px #0446D8 solid;
}
.window_item{
    position: relative;
    width: 156px;
    text-align: center;
    cursor: pointer;
}

.window_item:nth-child(1n+4){
    margin-top: 48px;
}



.window_item > img{
    width: 120px;
    height: 120px;
    margin: 0px auto;
    border-radius: 50%;
    margin-bottom: 16px;
}

.window_item_heading{
    color: #252525;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;

}



.window_footer{
    width: 100%;
    height: 108px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.window_footer > button:last-child{
    margin: 0px 24px;
}


.singup_overflow{
    background-color: #8b004c73;
    filter: blur(3px);
}

.button1_disabled{
    cursor: auto;
    color: #9A9A9A;
    background-color: #F5F5F5;
    outline: 1px solid #E0E0E0;
}














/*-----------------------------------------------------------------------------------------------*/

header{
    display: flex;    
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    padding: 20px 0px;
    
    position: fixed;
    z-index: 5;
    transition: background-color .4s;

    border-bottom: 1px rgba(255, 255, 255, 0.301) solid;
    background-color: #fff;
}

header:hover{
    background: #fff;
}

header:hover .nav_link.link_disabled{
    color: #424242;
}

header:hover .nav_link.link_disabled:hover{
    color : #9E9E9E;
}

.header_disabled{
    background: none;
}

.burger_button{
    position: fixed;
    right: 16px;
    display: none;
    cursor: pointer;  
}

.burger1{
    display: block;
    width: 24px;
    height: 3px;
    background-color: white;
    position: relative;

    transition: all .3s;  
}

.burger2, .burger3{
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 24px;
    background-color: white;

    transition: all .3s;
}

.burger2{
    top: -9px;
}

.burger3{
    top: 8px;
}

.burger_button_blue{
    background-color: #252525;
}

.header_logo{
    margin-left: 48px;
}

.header_menu ul{
    display: flex;
    list-style: none;
    padding: 0;   
}

.header_menu ul li{
    margin: 0px 0px 0px 40px;   
}

.header_menu ul a{
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    font-family: sans-serif;
    position: relative;
    transition: color .2s;
    color: #424242;
}

.nav_link.link_disabled{
    color: white;
}

.header_menu ul a:hover{
    color: #9E9E9E;
}



.header_menu ul a:focus-visible{
    outline: 2px dashed #9ba9c4;
    outline-offset: 15px;
}


button.sing_up{
    background-color: #0543CC;
    padding: 8px 28px;
    color: white;
    font-size: 20px;
    line-height: 26px;
    border-radius: 30px;
    border: 0px;
    cursor: pointer;
    margin-right: 48px;
    transition: background-color .2s;
}

button.sing_up:hover{
    background-color: #0438AD;
}

button.sing_up:focus-visible{
    outline: none;
    border: 3px solid #5d8cf1;
}

button.sing_up:active{
    background-color: #042368;
}

video{
    margin: 0;
    width: 100%;
    min-height: 640px;
    object-fit: cover;
}

.section1_tittle{
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
}

.tittle1{
    color: #FF6397;
    font-family: 'Dancing Script', cursive;

    font-size: 112px;
    margin-bottom: 15px;
    display: block;
    overflow: hidden;
    width: 680px;
    margin: 0px auto;

    transition: width 1.5s;
}

.tittle1_span{
    width: 0;
    overflow: hidden;
    transition: width 3.5s;
}

.tittle2{
    position: relative;
    font-family: 'Inter', sans-serif;
    display: inline-block;
    font-weight: 700;
    color: #424242;

}

.section1_tittle1{
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    font-size: 112px;
    margin: 0px auto;
    width: 670px;

    transition: width 2.5s linear;

}

.section1_tittle2{
    font-size: 56px;
    color: white;
    display: inline-block
}



.tittle2_crossout{
    position: absolute;
    z-index: 2;
    left: 0;
    top: 50%;

    height: 3px;
    width: 0%;

    transition: width 3s linear;

    background-color: #FF66B9;

    
}

.tittle2_crossout_big{
    height: 6px;
    border-radius: 12px;
    transition: width 3s linear;
}


.about_us .container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.about_us img{
    max-width: 38%;
    object-fit: cover
}

.section2_content{
    width: 685px;
}


.section2_subtittle{
    font-size: 20px;
    margin: 60px 0px 30px 0px;
    font-family: 'Inter', sans-serif;
}

.section2_text{
    color: #424242;
    width: 555px;
}

.services .container{
    position: relative;
}

.services_content{
    margin-top: 48px;
    overflow: hidden;
}


.services_tab_nav{
    width: 741px;
    display: flex;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.services_tab_name{
    padding: 14px 16px 10px 16px;
    cursor: pointer;
    transition: color .2s;
}

.services_tab_name:hover{
    color: #0438AD;
}

.services_tab_name.is_active{
    color: #0446D8;
    border-bottom: 3px solid #0446d8;
}


.services_tab{
    display: flex;
    margin: 32px 0px 80px 0px;
}



.services_tab_item:last-child{
    margin-right: 0px;
}

.services_tab_item{
    border-radius: 4px;
    margin: 0px 16px 0px 0px;
    box-shadow : 0px 2px 4px rgba(0, 0, 0, 0.15);
    position: relative;
    cursor: pointer;

    transition: outline-color 3s;
}

.services_tab_item::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 1px solid #0438AD;
    opacity: 0;
    border-radius: 4px;

    transition: opacity .2s;
}


.services_tab_item_name{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 24px 0px;
    text-align: center;
    text-transform: uppercase;
}

.services_tab_item:hover::after{
    opacity: 1;
}

.services_tab{
    display: none;
}

.services_tab.is_active{
    display: flex;

    transform: translateX(0);

}

.services_nav{
    margin: 0px auto;
    width: 640px;
}




.scrollbar{
    position: relative;
    height: 8px;
    width: 640px;
    background-color: #F5F5F5;
    border-radius: 4px;
}

.scroll{
    position: absolute;
    top: 0;
    left: 0;

    height: 8px;
    width: 220px;
    background-color: #0446D8;
    border-radius: 4px;
    cursor: pointer;
    transform-origin: right;
}

.scroll:hover{
    background-color: #0438AD;
}


.scroll_disabled{
    background-color: #A1A1A3;
    cursor: default;
}

.scroll_disabled:hover{
    background-color: #A1A1A3;
}


.modal_overflow{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    overflow-y: auto;

    visibility: hidden;

    transition: background-color .3s;
    background-color: rgba(255, 255, 255, 0);
}

.modal_overflow_active{
    visibility: visible;
}

.modal_overflow_animation{
    background-color: rgba(255, 255, 255, 0.40);
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 7;
    margin-top: -331px;
    margin-left: -434px;

    width: 868px;
    max-width: 100%;
    height: 663px;

    display: none;
    align-items: center;

    transition: opacity .3s;
    opacity: 0;
}

.modal_closed_fix{
    margin-left: -430px !important;
}

.modal_active{
    display: block;
}

.modal_animation{
    opacity: 1;
}

.modal button{
    position: absolute;
    z-index: 6;
    width: 174px;
    height: 127px;

    cursor: pointer;
    background: none;
    transition: background-color .3s;
    border: none
}

.modal button:hover{
    background-color: rgba(110, 110, 110, 0.555);
}

.right_arrow{
    right: -174px;
    top: 40%;
}

.left_arrow{
    left: -174px; 
    top: 40%;
}

.modal_content{
    width: 868px;
    height: 663px;
    display: none;
    background-color: #fff;

}

.modal_content_active{
    display: flex;
}

.modal_text{
    width: 449px;
    height: 556px;
    margin: 68px 32px 39px 32px;
}

.modal_text h3{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #252525;
    
    text-align: center;
}
.modal_table{
    margin-top: 22px;
    width: 100%;
    text-align:right;
}

.modal_table thead{
    color: #424242;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;

    height: 52px;
    display: block;
    display: flex;
    align-items: center;
}

.modal_table th:first-child{
    width: 203px;
    text-align: left;
}

.modal_table th:last-child{
    width: 95px;
}



.modal_table tbody{
    table-layout: fixed;
    display: block;

    height: 466px;
    overflow: auto;
}

.modal_table tbody::-webkit-scrollbar-thumb {
    background: rgb(72, 118, 177);
    width: 200px;
    border-radius: 30px;
  }

.modal_table tbody tr{
    display: flex;
    align-items: start;
    padding: 14px 0px;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.modal_table td{
    width: 10px;
}

.modal_table td:first-child{
    text-align: left;
    width: 203px;
}

.modal_table td:not(:first-child){
    width: 104.5px;
}

.modal_table td:last-child{
    width: 95px;
}

















.section3_tittle .tittle1{
    font-size: 52px;
    line-height: 62px;
    margin-bottom: 10px;
}

.section3_tittle .tittle2{
    font-size: 36px;
    line-height: 46px;
}


.section3_content{
    margin-top: 56px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 16px;

}

.section3_content > img{
    border-radius: 5px;
    max-width: 32.5%;
}



.follow_us{
    text-align: center;
    margin-top: 48px;
    color: #424242;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.brand{
    color: #252525;
    font-size: 20px;
    text-align: center;
    margin-top: 16px;
    font-family: 'Inter', sans-serif;
}

.instagram_button{
    display: block;
    color: #252525;
    font-size:  20px;
    padding: 8px 28px;
    border-radius: 30px;
    margin: 20px auto;
    border: 2px #FF66B9 solid;
    background-color: white;
    cursor: pointer;
    transition: color .3s;
    font-family: 'Inter', sans-serif;
}

.instagram_button:hover{
    color: #FF66B9;
}

.instagram_button:focus-visible{
    outline: 3px #ff66ba81 solid;
}

.instagram_button:active{
    color: #8B004C;
    border: 2px #8B004C solid; 
}


.maps{
    display: flex;
    margin-top: 56px;
}

.map{
    display: none;
}

.map_active{
    display: block;
}

.maps_info{
    position: relative;
    width: 371px;
    height: 594px;
    background-color: #F5F5F5;
}

.space{
    height: 90px;
}

.select{
    position: absolute;
    width: 243px;
    top: 48px;
    left: 48px;
    z-index: 2;

    background-color: #F5F5F5;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    overflow: hidden;
}

.select_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select_body{
    display: none;
    
}

.select_body_active{
    display: flex;
    flex-direction: column;
}

.select_item, .selected_item{
    padding: 6px 100px 6px 16px;
    display: inline-block;
}

.select i{
    display: inline-block;
    text-align: center;
    margin-right: 14.5px;
    width: 16px;
    height: 16px;
    font-size: 16px;

    transition: transform .2s linear;
}

.location_svg_rotate{
    transform: rotate(180deg);
}


.adress{
    display: flex;
    align-items: center;

    width: 230px;
    height: 76px;

    margin-top: 32px;
    margin-left: 48px;

    cursor: pointer;
}

.adress:hover .location_block > span{
    color: #9A9A9A;
}

.location_block > span{
    padding: 4px 0px;
    display: block;
    transition: color .3s;
}

.location_block > span:last-child{
    color: #0446D8;
}

.adress_active{
    display: flex;
}

.location_svg{
    display: block;
    margin-right: 18px;
}

.phone_numbers{
    display: flex;
    align-items: center;
    margin: 32px 0px 0px 48px;
}

.phone_number_block{
    margin-left: 18px;
}

.phone_number_item{
    display: block;
    margin: 5px 0px;

    cursor: pointer;
    text-decoration: none;
    color: #0446D8;
    transition: .2s linear;
}

.phone_number_item:hover{
    color: #9A9A9A;
}









footer{
    margin-top: 62px;
    background-color: #F5F5F5;
}

.footer_content{
    display: flex;
}

.footer_about{
    width: 50%;
}

.footer_links{
    width: 132px;
    margin-left: 11%;
}

.footer_contacts{
    width: 152px;
    margin-left: 11%;
}


.footer_about > h3{
    color: #252525;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}


.footer_about_content{
    margin-top: 48px;
    display: flex;
}

.footer_about_content > p{
    color: #424242;
    font-size: 16px;
    line-height: 28px;

    margin-left: 24px;

    font-family: 'Inter', sans-serif;
}

.footer_about_content > img{
    width: 115px;
    height: 110px;


    border-radius: 86px;
}


.footer_about button{
    width: 120px;
    height: 45px;

    font-weight: 400;
    font-size:  20px;
    font-family: 'Inter', sans-serif;

    background: none;

    margin: 20px 0px 0px 139px;

}


.subfooter{
    border-top: 1px solid #252525;
}

.subfooter .container{
    padding: 24px 10px;

    display: flex;
    justify-content: space-between;
}


.subfooter_content > a{
    color: #424242;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Inter', sans-serif;

    text-decoration: none;

    transition: color .3s;
}

.subfooter_content > a:hover{
    color: #B0B0B0;
}

.subfooter p{
    color: #424242;

    font-weight: 400;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}


.subfooter_a2{
    margin: 0px 48px;
}


.footer_contacts > h3{
    color: #252525;
    font-weight: 400;
    font-size: 20px;


    font-family: 'Inter', sans-serif;
}


.footer_contacts_number{
    margin-top: 48px;
}


.footer_contacts_number > a{
    display: block;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 24px;

    font-family: 'Inter', sans-serif;
    font-weight: 400;;

    color: #252525;

    transition: color .3s;
}

.footer_contacts_number > a:hover{
    color: #B0B0B0;
}

.footer_contacts_social{
    margin-top: 51px;
}

.footer_contacts_social > a{
    color: #424242;

    text-decoration: none;
    font-size: 30px;
    transition:  color .2s;

    margin: 0px 9px 0px 7px;
}

.fab.fa-facebook:hover{
    color: rgba(57, 57, 206, 0.842);
}

.fab.fa-instagram:hover{
    color: rgba(226, 65, 226, 0.842);
}

.fab.fa-youtube:hover{
    color: rgba(209, 49, 49, 0.842);
}


.footer_links > h3{
    color: #252525;
    font-weight: 400;
    font-size: 20px;


    font-family: 'Inter', sans-serif;
}

.footer_links > ul{
    margin-top: 40px;
    list-style: none;
    padding: 0;
}

.footer_links li{
    margin: 8px 0px 16px 0px;
    line-height: 24px;
    line-height: 23px;
}

.footer_link{
    text-decoration: none;
    font-size: 16px;
    color: #424242;
    font-weight: 400;
    font-family: 'Inter', sans-serif;

    transition: color .3s;
}

.footer_link:hover{
    color: #B0B0B0;
}


.container{
    overflow: hidden;   
}

.modal_adaptive_img{
    display: none;
}

.burger_menu{
    display: none;
}


/* ----------------------------------- ADAPTIVE -------------------------------- */
@media screen and (max-width: 1440px){
    .container{
        padding: 48px 16px;
    }
    

}

/* -------------------------- small screen --------------------------------------*/

@media screen and (max-width: 1439px){   
    .services_tab_item img{
        width: 319px;
        height: 297px;
    }

    .maps_info{
        min-width: 317px;
    }

    .modal{
        margin-top: -246px;
        margin-left: -348px;
    }
    .modal, .modal_content{
        width: 696px;
        height: 492px;
    }
    .modal_text {
        width: 401px;
        height: 410px;
        margin: 44px 16px 39px 16px;
    }
    .modal_table tbody {
        table-layout: fixed;
        display: block;
        height: 315px;
        overflow: auto;
    }
    .modal_table tbody tr, .modal_table thead tr{
        margin-right: 14px;
    }
    .modal_table td:first-child {
        text-align: left;
        width: 188px;
    }
}
/* -------------------------- tablet --------------------------------------*/

@media screen and (max-width: 1024px){    
    .tittle{
        font-size: 36px;
    }
    .subtittle{
        font-size: 24px;
        font-weight: 500;
    }


    .burger_menu{
        display: block;
        width: 0px;
        position: fixed;
        z-index: 4;
        right: 0;
        top: 0;
        bottom: 0;

        transition: width .3s ease-out;
    
        background-color: #FFEEF7; 
    
    }
    .burger_menu.open_burger{
        width: 280px;
    }
    .burger_menu > ul{
        padding: 0;
        margin: 104px 40px;
    
        list-style: none;
    }
    .burger_menu > ul > li{
        margin-bottom: 32px;
        white-space: nowrap;
    }
    .burger_menu > ul a{
        text-transform: uppercase;
        text-decoration: none;
    
        font-weight: 500;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        color: #252525;
    }
    .burger_button.open_burger .burger1{
        transform: rotate() translateX(0px) translateY(0px);
        background-color: #fff;
    }
    .burger_button.open_burger .burger2{
        transform-origin: left;
        transform: rotate(45deg) translateX(0px) translateY(0px);
    }
    .burger_button.open_burger .burger3{
        transform-origin: left;
        transform: rotate(-45deg) translateX(0px) translateY(0px);
    }


    header{
        padding: 13px 0px;
    }
    .header_logo{
        margin-left: 16px;
    }
    nav {
        display: none;
    }
    .burger_button{
        display: block;
    }
    button.sing_up{
        padding: 6px 24px;
        margin-right: 64px;
        font-size: 16px;
    }
    header:hover .burger_button span{
        background-color: #252525;
    }

    .tittle2_crossout_big{
        height: 4px;
    }
    .subtittle_animation{
        height: 3px;
    }



    .about_us .container{
        flex-direction: column;
        padding: 0px 0px 48px 0px;
    }
    .section1_tittle1{
        width: 360px;
        font-size: 60px;
    }
    .section1_tittle2{
        font-size: 32px;
    }
    
    .section2_text{
        line-height: 28px;
        width: 100%;
    }
    .section2_content{
        width: 100%;
        padding: 0px 16px;
    }
    .about_us img{
        margin-top: 63px;
        min-width: 100%;
    }

  
    

    .section2_subtittle{
        font-size: 17px;
        line-height: 24px;

        margin: 32px 0px 24px 0px;
    }
    .services .container{
        padding: 0px 16px 
    }
    .services_content{
        margin-top: 0;
    }
    .services_tab_item{
        border: 1px solid #E0E0E0;
        box-shadow: none;
        margin: 0px 16px 0px 0px;
        max-height: 251px;
    }
    .services_tab_item_name{
        text-transform: none;
        padding: 8px 0px;
    }
    .services_tab_item img{
        width: 233px;
        height: 213px;
    }
    .scrollbar{
        display: none;
    }

   


    .modal{
        width: 506px;
        margin-left: -253px;
    }
    .modal_content{
        width: 100%;
    }
    .modal_content_active{
        flex-direction: column;
    }
    .modal_img{
        display: none;
    }
    .modal_adaptive_img {
        display: block;
    }
    .modal button{
        display: none;  
    }




    .section3_content{
        margin-top: 32px;
    }
    .section3_content > img{
        max-width: 32%;
    }
    .location .tittle, .location .subtittle{
        margin-left: 16px;
    }
    .follow_us{
        font-size: 14px;
        margin-top: 32px;
    }
    .brand{
        font-size: 16px;
        margin-top: 10px;
    }
    .instagram_button{
        font-size: 16px;
        margin: 12px auto;
    }


    .select_item, .selected_item{
        text-transform: none;
    }

    .space {
        height: 85px;
    }
    .select{
        box-shadow: none;
        border: 1px solid #E0E0E0;

        top: 32px;
        left: 32px;
        width: 164px;
    }
    .selected_item{
        padding: 6px 27px 6px 16px;
    }
    .location_svg{
        width: 14px;
        height: 20px;
        margin-right: 12px;
    }
    .adress{
        margin-left: 32px;
        margin-top: 0px;
        width: 163px;
        height: 65px;
    }
    .location_block > span{
        display: inline;
        font-size: 12px;
    }
    .location_block > .heading_S{
        font-size: 14px;
    }
    .phone_numbers{
        margin: 20px 0px 0px 32px;
    }
    .phone_number_block {
        margin-left: 10px;
    }
    .phone_number_item{
        font-size: 14px;
    }
    .map{
        height: 358px;
    }
    .maps_info{
        min-width: 228px;
        width: 228px;
        height: 358px;
    }




    footer .container {
        padding: 16px 16px 24px 16px;
    }
    .footer_content h3{
        font-size: 18px;
    }

    .footer_about {
        width: 61%;
    }
    .footer_about_content{
        margin-top: 24px;
    }
    .footer_about_content > img{
        width: 63px;
        height: 60px;
    }
    .footer_about_content > p{
        font-size: 14px;
        line-height: 20px;

        margin-left: 16px;
    }
    .footer_about button {
        width: 111px;
        height: 40px;
        font-size: 16px;
        margin: 16px 0px 0px 80px;
        padding: 5px 26px;
    }


    .footer_links{
        margin-left: 6%;
    }
    .footer_links > h3, .footer_contacts > h3{
        padding-top: 35px;
        font-size: 16px;
    }
    .footer_links > ul{
        margin-top: 8px;
    }
    .footer_links li{
        margin: 3px 0px 0px 0px;
    }
    .footer_link, .footer_contacts_number > a{
        text-transform: none;
        font-size: 12px;
    }


    .footer_contacts{
        margin-left: 6%;
    }
    .footer_contacts_number{
        margin-top: 20px;
    }
    .footer_contacts_number > a{
        margin-bottom: 15px;
    }
    .footer_contacts_social{
        margin-top: 21px;
    }
    .footer_contacts_social > a{
        font-size: 23px;
    }


    .subfooter .container{
        padding-top: 19px;
        align-items: end;
    }
    .subfooter_content > a{
        font-size: 10px;
    }
    .subfooter_a2 {
        margin: 0px 16px;
    }
    .subfooter p{
        font-size: 10px;
    }

}


@media screen and (max-width: 767px) {

    .services_tab{
        margin: 52px 0px 0px 0px;
    }


    .section3_content{
        row-gap: 16px;
    }
    .section3_content > img{
        max-width: 48%;
    }


    .phone_number_item{
        font-size: 12px;
    }

    .footer_content{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer_about {
        position: relative;
        width: 100%;
    }
    .footer_about:after{
        content: "";
        display: block;
        width: 800px;
        height: 1px;
        background-color: #252525;
        position: absolute;

        left: -20px;
        bottom: -24px;
    }
    .footer_links,.footer_contacts{
        padding: 10px 0px 0px 0px;
        width: 140px;
    }
}

@media screen and (max-width: 510px){
    .location .container{
        padding: 0px;
    }
    .maps{
        flex-direction: column;
        margin-top: 32px;
    }
    .maps_info{
        min-width: 100%;
        height: 208px;
    }
    .space{
        height: 92px;
    }
    .select{
        left: 16px;
        width: 140px;
        top: 25px;
    }
    .selected_item {
        padding: 4px 8px 4px 13px;
    }
    .adress{
        margin: 0px 0px 16px 16px;
        height: 44px;
        width: 170px;
    }
    .location_svg{
        width: 36px;
    }

    .phone_numbers {
        position: absolute;
        top: 68px;   
        right: 18px;
        margin: 20px 0px 0px 32px;
    }
}